<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="@Assets["dist/styles.css"]">
    <HeadOutlet />
    <meta name="description" content="This is a demo.">
</head>
<body class="bg-gray-100 text-black">
    <Routes />

    @* We don't want any of the Blazor interactive modes *@
    @* <script src="_framework/blazor.web.js"></script> *@

    <script src="@Assets["dist/main.js"]"></script>
</body>
</html>
