@inject UiFileService uiFileService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="dist/styles.css?v=@uiFileService.GetCacheBustString("dist/styles.css")">
    <HeadOutlet />
    <meta name="description" content="This is a demo of SSR and WASM.">
</head>
<body data-enhance-nav="false" class="bg-gray-100 text-black">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="dist/main.js?v=@uiFileService.GetCacheBustString("dist/main.js")"></script>
</body>
</html>
