<div class="form-row mt-6 space-y-3 has-[.error-message]:border-l-4 has-[.error-message]:border-red-600 has-[.error-message]:pl-3 tmp-@Guid.NewGuid().ToString("N")">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
