@inherits LayoutComponentBase

<main>
    @Body
</main>

<div id="blazor-error-ui" class="hidden mt-6">
    An unhandled error has occurred. <a href="." class="link-primary reload">Reload</a> or <a href="." class="link-primary dismiss">dismiss</a>.
</div>
