<nav>
    <ul class="space-y-2">
        <li>
            <a class="link-primary" href="/">
                Home
            </a>
        </li>

        <li>
            <a class="link-primary" href="/sample">
                Sample form
            </a>
        </li>

        <li>
            <a class="link-primary" href="/weather">
                Weather
            </a>
        </li>

        <li>
            <a class="link-primary" href="/library">
                Component library
            </a>
        </li>
    </ul>
</nav>
