@page "/"

<PageTitle>Home</PageTitle>

<Prose>
    <h1>Hello, world!</h1>
    <p>Welcome to your new app. This page has two WASM components set to <code>prerendered: false</code> and then loading from WASM.</p>
    <p>The component instances also has a concept of reading and storing the toggle state in the URL per instance.</p>
</Prose>

<div class="bg-white rounded shadow w-full sm:w-1/2 aspect-video mt-10">
    <Counter IdSuffix="1" />
</div>

<div class="bg-white rounded shadow mt-10 py-6 px-3 sm:px-6 lg:px-8" aria-live="polite">
    <button class="link-primary" type="button" data-hx-get="/clicked" data-hx-swap="outerHTML" data-hx-select="#clicked">
        Click me to hx-swap with element from /clicked
    </button>
</div>

<div class="bg-white rounded shadow w-full sm:w-1/2 aspect-video mt-10">
    <Counter IdSuffix="2" />
</div>
